@{
    ViewData["Title"] = "Editing images";
    var productId = Model.FirstOrDefault().ProductId;
}
@model IOrderedEnumerable<ClearSoundCompany.Data.Models.Products.ProductImage>

<section>

    <div class="container main-container" data-aos="fade-up">

        <div class="section-title" align="center">
            <p style="color: white">
                <span style="color: #E31E24">Editing images</span>
            </p>
            <form method="post" asp-area="Administration" asp-controller="Products" asp-action="DeleteAllImages" asp-route-id="@productId" id="deleteFormAllImages">
            </form>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal2">
                Delete ALL images
            </button>
        </div>
        <div class="row" style="color: white">
            @foreach (var image in Model)
            {
                <div class="col-lg-3 col-md-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="25">
                    <div class="icon-box">
                        <a>
                            <img src="/database_files/Products/@image.Name" alt=""/>
                        </a>
                        <p>Name: @image.Name</p>
                        <p style="font-weight: bold; color: red">Id: @image.Id</p>
                        <form method="post" asp-area="Administration" asp-controller="Products" asp-action="DeleteImage" asp-route-id="@image.Id" asp-route-productId="@image.ProductId" id="@image.Id">
                        </form>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="@image.Id">
                            Delete
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete this image?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Image? It will be lost forever!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" id="delete-image-button" class="btn btn-danger">Yes, DELETE this image!</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal2" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel2">Delete ALL images?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all Images? They will be lost forever!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="document.getElementById('deleteFormAllImages').submit()">Yes, DELETE ALL IMAGES</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal',
            function(event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                var idImage = button.getAttribute('data-bs-whatever');

                // Update the modal's content.
                var modalTitle = deleteModal.querySelector('.modal-title');

                modalTitle.textContent = `Delete this product (id): ${idImage}`;

                document.getElementById('delete-image-button').addEventListener('click', () => {
                    document.getElementById(idImage).submit();
                });

            })
    </script>
}