@{
    ViewData["Title"] = "Festivals";
}
@model ICollection<ClearSoundCompany.Data.Models.Rental.Festival>

<section>
    <div class="container main-container" data-aos="fade-up">
        <div class="section-title" align="center">
            <p style="color: white"><span style="color: #E31E24">@Model.FirstOrDefault()?.Country.Name</span> Festivals</p>
        </div>

        <div class="row" style="color: white">
            @foreach (var festival in Model)
            {
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="25">
                    <div class="icon-box" , align="center">
                        <a asp-area="" asp-controller="Festivals" asp-action="FestivalInformation" asp-route-id="@festival.Id">
                            <img src="/database_files/Festivals/@festival.FestivalImages.FirstOrDefault()?.Name" alt="" />
                        </a>
                        <h4>
                            <a asp-area="" asp-controller="Festivals" asp-action="FestivalInformation" asp-route-id="@festival.Id">@festival.Name</a>
                        </h4>

                        @if (User.IsInRole("Administrator"))
                        {

                            <p style="font-weight: bold; color: red">Id: @festival.Id</p>
                            <form method="post" asp-area="Administration" asp-controller="Festivals" asp-action="DeleteFestival" asp-route-id="@festival.Id" id="@festival.Id">
                            </form>
                            <a class="btn btn-primary" asp-area="Administration" asp-controller="Festivals" asp-action="EditFestival" asp-route-id="@festival.Id">Edit</a>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="@festival.Id">
                                Delete
                            </button>

                        }
                    </div>
                </div>
            }
        </div>
    </div>

    @if (User.IsInRole("Administrator"))
    {

        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete this festival?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this Festival? It will be lost forever!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="button" id="delete-product-button" class="btn btn-danger">Yes, DELETE this Festival!</button>
                    </div>
                </div>
            </div>
        </div>
    }
</section>


@section scripts{
    <script type="text/javascript">

        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal',
            function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;
                // Extract info from data-bs-* attributes
                var idProduct = button.getAttribute('data-bs-whatever');

                // Update the modal's content.
                var modalTitle = deleteModal.querySelector('.modal-title');

                modalTitle.textContent = `Delete this product (id): ${idProduct}`;

                document.getElementById('delete-product-button').addEventListener('click',
                    () => {
                        document.getElementById(idProduct).submit();
                    });

            });
    </script>
}